html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  //   background-color: var(--header_footer_color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // position: relative;
  text-rendering: optimizeSpeed;
  font-family: "ABeeZee", sans-serif;
  min-height: 100vh;
  margin: 0;
}

div#root {
  background-color: white;
}

div#modalRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 120vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
  overflow-y: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--mainFontColor);
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
