@import "../../../sass/main.scss";

.wrapper {
  position: relative;
  padding: 25px var(--sidePaddingMobile);
  @include mq(tablet) {
    padding: 30px var(--sidePaddingTablet);
  }
  @include mq(tablet-big) {
    padding: 30px var(--sidePaddingTabletBig);
  }
  & > p {
    margin: 0 0 25px 0;
  }
}
