.wrapper {
  padding-top: 60px;
  padding: 65px 20px;
  min-height: 480px;
  text-align: center;
  color: white;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../images/firstBackground.jpg");

  .contentWrapper {
    max-width: 380px;
    margin: 0 auto;
    .summary {
      font-size: 11px;
      margin-bottom: 60px;

      &::after {
        position: absolute;
        content: "";
        display: block;
        margin: 30px auto;
        width: 60px;
        height: 1px;
        left: 50%;
        transform: translate(-50%);
        background-color: white;
      }
    }

    .title {
      margin-bottom: 55px;
      font-size: 17px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 1px;
    }

    .link {
      display: block;
      padding: 10px 20px;
      background-color: #facf03;
      box-shadow: 0px 4px 3px #937004;
      border-radius: 10px;
      width: fit-content;
      margin: 0 auto;
      font-size: 17px;
      margin-bottom: 50px;
    }

    .list {
      text-align: left;
      .listItem {
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1px;
      }
    }
  }
}
