@import "../../sass/main.scss";

.wrapper {
  padding-top: 60px;
  padding: 65px 20px;
  min-height: 480px;
  text-align: center;
  color: white;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 0 -150px;
  background-image: url("../../images/others/firstBackground.jpg");
  @include mq(tablet) {
    display: flex;
    align-items: center;
    min-height: 640px;
  }

  .contentWrapper {
    max-width: 380px;
    margin: 0 auto;
    @include mq(tablet) {
      max-width: 440px;
    }

    .summary {
      font-size: 11px;
      margin-bottom: 60px;
      @include mq(tablet) {
        font-size: 13px;
        margin-bottom: 80px;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        margin: 30px auto;
        width: 60px;
        height: 1px;
        left: 50%;
        transform: translate(-50%);
        background-color: rgba(255, 255, 255, 0.774);
        @include mq(tablet) {
          width: 90px;
          height: 2px;
          margin: 40px auto;
        }
      }
    }

    .title {
      margin-bottom: 55px;
      font-size: 17px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 1px;
      @include mq(tablet) {
        font-size: 19px;
      }
    }

    .link {
      display: block;
      padding: 10px 20px;
      background-color: #facf03;
      box-shadow: 0px 4px 3px #937004;
      border-radius: 10px;
      width: fit-content;
      margin: 0 auto;
      font-size: 17px;
      margin-bottom: 50px;
      @include mq(tablet) {
        font-size: 18px;
        padding: 10px 25px;
      }
    }

    .list {
      text-align: left;
      .listItem {
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1px;
        @include mq(tablet) {
          font-size: 12px;
        }
      }
    }
  }
}
