@import "../../sass/main.scss";

.wrapper {
  & > p {
    @include mq(tablet) {
      margin-bottom: 0;
    }
  }
  .contentWrapper {
    width: fit-content;
    margin: 0 auto;
    padding: 0 var(--sidePaddingMobile);

    @include mq(tablet) {
      display: flex;
      padding: 0 var(--sidePaddingTablet);
    }
    @include mq(tablet-big) {
      padding: 0 var(--sidePaddingTabletBig);
    }

    .address {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      margin-bottom: 10px;
      @include mq(tablet) {
        margin: auto 30px 15px 0;
      }

      .link {
        margin-bottom: 10px;
      }

      .linksWrapper {
        display: flex;
        align-items: center;
        font-style: normal;

        .link {
          margin: 0;
          padding: 4px;
          &:first-of-type {
            margin: 0 5px;
          }
          &:last-of-type {
            margin-left: 5px;
          }
        }
      }

      .icon {
        width: 22px;
        height: 22px;
      }
    }
  }
  .bottomImg {
    width: 100%;
    max-width: 360px;
    // height: 230px;

    @include mq(tablet) {
      // height: 200px;
    }
    @include mq(tablet-big) {
      // height: 280px;
      // width: 500px;
    }
  }
}
