@import "../../../sass/main.scss";

$mediaHeight: 90px;

.listItem {
  border-radius: 20px;
  border: 2px solid #d9d9d9;
  color: var(--mainFontColor);
  text-align: center;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 1px;
  width: fit-content;
  padding: 20px 15px;
  max-width: 200px;
  @include mq(phone) {
    font-size: 15px;
  }

  .title {
    font-size: 15px;
    margin-bottom: 15px;
    @include mq(mobile) {
      font-size: 18px;
    }
  }

  .icon {
    height: calc($mediaHeight - 30px);
    // height: $mediaHeight;

    @include mq(mobile) {
      height: $mediaHeight;
    }
  }

  .img {
    margin: 0 auto;
    height: calc($mediaHeight - 30px);
    // height: $mediaHeight;
    @include mq(mobile) {
      height: $mediaHeight;
    }
  }

  .price {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 17px;
  }

  .button {
    border-radius: 50px;
    background: var(--highlightColor);
    color: white;
    border: none;
    padding: 7px 15px;
  }
}
