$borderRadius: 7px;

.swiper {
  position: static;
  border-radius: $borderRadius;
  max-width: 330px;
//   margin-bottom: 25px;

  & > div + div {
    position: absolute;
    bottom: 0px !important;
  }
//   & > div > div {
//     height: initial;
//     box-sizing: border-box;
//   }

  .galleryImage {
    width: 100%;
    max-height: 330px;
    border-radius: $borderRadius;
    object-fit: cover;
  }

}
