@import "../../sass/main.scss";

$borderRadius: 7px;

.swiper {
  position: static;
  border-radius: $borderRadius;
  max-width: 330px;
  @include mq(tablet) {
    max-width: 500px;
  }
  @include mq(desktop) {
    max-width: 800px;
  }
  @include mq(desktop-big) {
    max-width: 1080px;
  }

  & > div + div {
    position: absolute;
    bottom: 0px !important;
  }

  .galleryImage {
    width: 100%;
    max-height: 330px;
    border-radius: $borderRadius;
    object-fit: cover;
    @include mq(tablet) {
      max-height: 280px;
    }
    @include mq(desktop) {
      max-height: 300px;
    }
  }
}
