@import "../../sass/main.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ebf7fd;
  @include mq(tablet) {
    padding: 10px 40px;
  }
  @include mq(tablet-big) {
    background-color: white;
  }
  @include mq(desktop) {
    padding: 15px 60px;
  }

  .headerLogo {
    height: 70px;
  }

  .address {
    @include mq(tablet) {
      display: flex;
    }
    .addressLink {
      color: var(--mainFontColor);
      display: flex;
      align-items: center;
      font-size: 13px;

      @include mq(mobile) {
        font-size: 16px;
      }
      @include mq(tablet) {
        padding: 10px 5px;
        margin-right: 20px;
        font-size: 18px;
      }
      @include mq(desktop) {
        padding: 10px 5px;
        margin-right: 20px;
        font-size: 20px;
      }

      &:first-of-type {
        margin-bottom: 10px;
        @include mq(tablet) {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}
